img {
  width: 100%;
}

.landing {
  position: relative;
  /*background: url('./img/showcase.jpg') no-repeat;*/
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}


/*POST STYLING*/
.post-container {
  width: 214px;
  height: 229px;
  background-color: white;
  margin: 16px;
  padding: 1em;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.2);
  position: relative;
}

.profile-pic{
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.post-title {
  font-size: 25px;
  font-weight: bold;

}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.text-center {
  text-align: center;
}
