img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./images/abstract-digital-art.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 10, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-container {
  height: 500px;
}

.brand-container {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  padding-top: 8%;
  border-radius: 25px;

}

.brand-container img {
  width: 55%;
  padding: 20px;
}

.brand-container h1 {
  font-size: 2em;
}

.card-form {
  opacity: 0.9;
}


/* ======= NAVBAR STYLING ========*/

.navbar {
    background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.navbar-brand img {
  width: 100px;
}
/*POST STYLING*/
.post-container {
  width: 355px;
  height: auto;
  line-height: 0;
  background-color: white;
  margin: 20px;
  vertical-align: bottom;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  /*border: 2px solid blue;*/
}

.image {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2); /* Black see-through */
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 10px;
  /*padding: 20px;*/
  text-align: center;
  /*border: 5px solid green;*/
}

.post-container:hover .overlay {
  opacity: 1;
}

.text-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /*border: 5px solid red;*/
}

.text-container .title {
  font-size: 25px;
  width: 100%;
  padding-left: 10%;
  text-align: left;
  display: inline-block;
  /*border: 3px solid green;*/
  margin-top: 50%;
}

.text-container .user {
  /*border: 5px solid purple;*/
  width: 100%;
  padding-left: 10%;
  text-align: left;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  position: relative;
}

.user img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.user .likes {
  font-size: 6px;
  display: inline-block;
  text-align: right;
  /*border: 5px solid yellow;*/
}

.likes {
  display: block;
}
.profile-pic {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.post-title {
  font-size: 25px;
  font-weight: bold;
}

/* Post.js*/
.post-content {
  /*border: 1px solid green;*/
  height: auto;
}

.image-content {
  /*border: 3px solid black;*/
}

.comment-form-content {
  /*border: 3px solid blue;*/
}

.comment-feed-content {
  /*border: 3px solid aqua;*/
}


/*SINGLE POST.js PAGE STYLING*/
.post-view {
  width: 100%;
  height: 100%;
  /*border: 5px solid black;*/
}


/* POST-ITEM.js STYLING*/

.single-post-container {
  width: 100%;
  height: 100%;
  /*border: 5px solid pink;*/
  position: relative;
  display: block;
  margin-top: 20px;

}

.post-image {
  width: 100%;
  /*border: 3px solid purple;*/
}

.post-title {
  font-size: 3em;
}

.buttons {
  /*border: 5px solid green;*/
  display: inline-block;
}
.user-buttons {
  /*border: 1px solid orange;*/
  display: inline-block;
  float: right;
}

.post-button-container {
  /*border: 5px solid purple;*/
}
/*the like buttons and other button aren't showing...?*/


/* Post.js STYLING*/

.main-post-container {
  /*border: 5px solid red;*/
  width: 90%;
}

.main-post-container hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.main-post-container h1 {
  padding-top: 30px;
  font-size: 3em;
  padding-bottom: 30px;

}
/* Posts.js STYlLING*/
.home-text {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}


/*POST FORM styling*/
.post-form {
  /*border: 1px solid red;*/
}

.form-card {
  width: 50%;
  height: 800px;
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  font-size: 25px;
}

/*EDIT POST styling*/




/* ======== THE COMMENT PAGES STYLING ========== */


/*COMMENTFORM.js STYLING*/

.comment-form {
  width: 100%;
  position: relative;
  display: block;
  margin-top: 50px;
  /*border: 5px solid red;*/
  padding-top: 50px;
}

.card-style {
  width: 100%;
  height: 200px;
 /* border: 1px solid yellow;*/
}

.card-body form {
  height: 50px;
  /*border: 1px solid grey;*/
}

.comment-header {
  /*border: 1px solid blue;*/
  height: 50px;
  font-size: 20px;
}

.comment-btn {
  margin-bottom: 50px;
}

/*COMMENT_ITEM.js STYLING*/

.comment-container{
  /*border: 5px solid green;*/
}

/*.comment-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}*/

.user-link {
  /*border: 3px solid purple;*/
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.user-link a {
  /*margin-left: 20%;*/
  display: block;
  width: 150px;
}
.user-comment {
  /*border: 3px solid navy;*/
  display: inline-block;
  /*position: relative;*/
  background: white;
  border-radius: .4em;
  border: 5px solid orange;
  padding: 8px;
}

.user-comment:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.comment-image {
  height: 40%;
  width: 40%;
  border-radius: 50%;
}



/* ====== PROFILE PAGES STYLING ======= */

/*Profile.js PAGE STYLING*/

.return-profile-container {
  /*border: 3px solid purple;*/
  width: 100%;
}

.profile-container {
  /*border: 3px solid black;*/
  width: 100%;
}

.back-button {
  /*border: 3px solid green;*/
  height: 50px;
}

.about-container {
  /*border: 3px solid yellow;*/
}

.about-row {
  width: 100%;
  /*border: 1px solid green;*/
  margin: 0;
  padding: 0;
}
.profile-details {
  /*border: 3px solid pink;*/
  display: inline-block;
}
.user-posts-container {
  /*border: 3px solid orange;*/
  display: inline-block;

}

/* ProfileAbout.js STLYING*/

.profile-heading {
  /*border: 3px solid red;*/
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.text-center {
  text-align: center;
}

.overlayTitle {
  font-size: 2rem;
}

/* ===== EXTRAS STYLING =====*/

.carousel-container {
  /*border: 5px solid blue;*/
  padding-bottom: 35px;
  /*height: 600px;*/

}


/* Login.js Styling*/

.login {
  /*border: 5px solid purple;*/
  height: 800px;
  padding-top: 35px;

}

.login-container h1 {
  font-size: 5em;
}

.login-container p {
  font-size: 2em;
  padding: 25px;
}

.login-container form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*FOOTER styling*/

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #243B55, #141E30);
    background: -o-linear-gradient(left, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 